[submodule "elasticfusionpublic"]
	path = elasticfusionpublic
	url = https://github.com/dyson-robotics-lab/ElasticFusionPublic.git
	branch = semanticfusion
[submodule "caffe_semanticfusion"]
	path = caffe_semanticfusion
	url = https://github.com/dyson-robotics-lab/Caffe_SemanticFusion.git
